<?xml version="1.0" encoding="utf-8"?>
<!--10120150-Rahmat-IF4-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uts_10120150">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTS_10120150">
        <activity android:name="com.example.uts_10120150.view.activity.AddNoteActivity"></activity>
        <activity android:name="com.example.uts_10120150.view.activity.MainActivity" />
        <activity android:name="com.example.uts_10120150.view.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>